<ion-header>
  <ion-toolbar>
    <ion-avatar>
      <img src="assets/logo.png">
    </ion-avatar>
    <ion-title>orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div inset *ngIf="isList && !showMyOrders">
    <ion-item>
      <ion-input (ionChange)="searchAwaitingOrders($event)" placeholder="Filter phrase" type="text" name="restaurant"></ion-input>
      <ion-button type="submit" block>Search</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Unassigned orders / My orders</ion-label>
      <ion-toggle [(ngModel)]="showMyOrders" ></ion-toggle>
    </ion-item>
    <ion-card *ngFor="let order of orders$ | async">
      <ion-card-title>
        <ion-badge>{{ order.date }}</ion-badge>
        <ion-badge color="secondary">{{ order.restaurant.nameSlug }}</ion-badge>
      </ion-card-title>
      <ion-card-content>
        Address: {{ order.restaurant.address }}<br>
        Price: {{ order.price }}
      </ion-card-content>
      <ion-button size="small" color="success" (click)="getDetails(order)">Details</ion-button>
      <ion-button size="small" color="warning" (click)="assign(order)">Assign</ion-button>
      <ion-button size="small" color="success" (click)="getMap(order)">Map</ion-button>
    </ion-card>
  </div>
  <div inset *ngIf="isList && showMyOrders">
    <ion-item>
      <ion-input (ionChange)="searchUserOrders($event)" placeholder="Filter phrase" type="text" name="restaurant"></ion-input>
      <ion-button type="submit" block>Search</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Unassigned orders / My orders</ion-label>
      <ion-toggle [(ngModel)]="showMyOrders" ></ion-toggle>
    </ion-item>
    <ion-card *ngFor="let order of activeOrders$ | async">
      <ion-card-title>
        <ion-badge>{{ order.date }}</ion-badge>
        <ion-badge color="secondary">{{ order.restaurant.nameSlug }}</ion-badge>
      </ion-card-title>
      <ion-card-content>
        Address: {{ order.restaurant.address }}<br>
        Price: {{ order.price }}
      </ion-card-content>
      <ion-button size="small" color="success" (click)="getDetails(order)">Details</ion-button>
      <ion-button size="small" color="success" (click)="getMap(order)">Map</ion-button>
    </ion-card>

    <ion-card *ngFor="let order of deliveredOrders$ | async">
      <ion-card-title>
        <ion-badge>{{ order.date }}</ion-badge>
        <ion-badge color="secondary">{{ order.restaurant.nameSlug }}</ion-badge>
        <ion-badge color="danger">DELIVERED</ion-badge>
      </ion-card-title>
      <ion-card-content>
        Address: {{ order.restaurant.address }}<br>
        Price: {{ order.price }}
      </ion-card-content>
      <ion-button size="small" color="success" (click)="getDetails(order)">Details</ion-button>
      <ion-button size="small" color="success" (click)="getMap(order.id)">Map</ion-button>
    </ion-card>
  </div>
  <div inset *ngIf="!isList">
    <ion-button (click)="goBack()"><</ion-button>
    <ion-card>
      <ion-card-title>
        <ion-badge>{{ selectedOrder.date }}</ion-badge>

        {{ selectedOrder.restaurant.nameSlug }}
      </ion-card-title>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>
              <h2>Restaurant address:</h2>
              <p>{{ selectedOrder.restaurant.address }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Food items:</h2>
              <div *ngFor="let item of selectedOrder.foodItems">
                <p>
                  <ion-icon name="pizza"></ion-icon>
                  {{ item.nameSlug }}
                </p>
              </div>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Price:</h2>
              <p>{{ selectedOrder.price }}</p>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="selectedOrder.userOpinion;else noOpinion">
            <ion-label>
              <h2>User opnion:</h2>
              <p>{{ selectedOrder.userOpinion }}</p>
            </ion-label>
          </ion-item>
          <ng-template #noOpinion></ng-template>
          <ion-item *ngIf="selectedOrder.userComment;else noComment">
            <ion-label>
              <h2>User comment:</h2>
              <p>{{ selectedOrder.userComment }}</p>
            </ion-label>
          </ion-item>
          <ng-template #noComment></ng-template>
        </ion-list>
      </ion-card-content>
      <ion-button (click)="assign(selectedOrder)" size="small" color="warning">Assign</ion-button>
    </ion-card>
    </div>
</ion-content>
