<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Map
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-direction [origin]="origin" [destination]="destination">
    </agm-direction>
  </agm-map>
  <!--<div *ngIf="lat && lng">-->

  <!--<agm-map [latitude]="lat" [longitude]="lng">-->
  <!--<agm-direction [origin]="origin" [destination]="destination">-->
  <!--</agm-direction>-->
  <!--<agm-marker [latitude]="lat" [longitude]="lng">-->

  <!--<agm-info-window>-->
  <!--<h3><strong>Howdy!</strong></h3>-->
  <!--<p>You are here!</p>-->
  <!--</agm-info-window>-->

  <!--</agm-marker>-->

  <!--</agm-map>-->
  <!--<div>-->

</ion-content>
