<ion-header>
  <ion-toolbar>
    <ion-avatar>
      <img src="assets/logo.png">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-thumbnail slot="start">
    <img src="assets/logo.png">
  </ion-thumbnail>

  <ion-item>
    <ion-label position="floating">Login</ion-label>
    <ion-input (onchange)="onInputChange($event)" name="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Hasło</ion-label>
    <ion-input (onchange)="onInputChange($event)" name="password" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-checkbox checked="true"></ion-checkbox>
    <ion-label text-wrap>
      Zgadzam się na przetwarzanie danych osobowych na mocy konieczności uzyskania pozytywnej oceny z projektowania
      oprogramowania
    </ion-label>

  </ion-item>

  <ion-button (click)="onSubmit()" color="warning" expand="full">Login</ion-button>


</ion-content>
