<ion-app>
  <app-language></app-language>
  <ion-menu side="start" class="e2eLeftMenu">

    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title>deliveryman</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item>Wyloguj się</ion-item>
      </ion-list>
      <app-language></app-language>
    </ion-content>



  </ion-menu>


  <div class="ion-page" main>

    <ion-header>
      <ion-toolbar><ion-avatar>
        <img src="assets/logo.png">
      </ion-avatar>
      </ion-toolbar>
    </ion-header>
    <app-language></app-language>
    <ion-router-outlet></ion-router-outlet>

  </div>
  <app-language></app-language>
</ion-app>
