<ion-header>
  <ion-toolbar>
    <ion-avatar class="avatar">
      <img src="assets/login/logo.png">
    </ion-avatar>
    <app-language></app-language>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="flex-center" style="flex-wrap: wrap;">
    <h2 style="width: 100%; text-align: center">Hello, deliveryman!</h2>
    <img src="assets/logo.png">
  </div>
  <h1 style="text-align: center">Welcome to home page</h1>
  <div class="flex-center">
    <a [routerLink]="'/login'" class="propsy-link">Zaloguj się</a>
    <br>
    <a href="#" (click)="logout()" class="propsy-link">Wyloguj się</a>
  </div>
</ion-content>
