<!--<ion-header>-->
<!--<ion-toolbar>-->
<!--<ion-title>Główna</ion-title>-->
<!--</ion-toolbar>-->
<!--</ion-header>-->

<ion-content padding>
  <div class="flex-center" style="flex-wrap: wrap;">
    <h1 style="width: 100%; text-align: center">Welcome to home page</h1>
    <img src="assets/logo.png">
  </div>
  <div class="flex-center">
    <a [routerLink]="'/login'" class="propsy-link">Zaloguj się</a>
    <a href="#" (click)="logout()" class="propsy-link">Wyloguj się</a>
  </div>


</ion-content>
